<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="mid360">
    <link name="mid360_link"/>
    <joint name="base_to_mid360_joint" type="fixed">
      <origin xyz="0.3 0 0.12" rpy="0 0.6109 0" />
      <parent link="base_link"/> <child link="mid360_link"/>
    </joint>
  </xacro:macro>

</robot>
